div.page,
div.cloak,
div.container {
    margin-top: calc(3 * var(--delta-cm));
    padding-top: calc(3.5 * var(--delta-cm));
    padding-left: calc(3 * var(--delta-cm));
    padding-right: calc(3 * var(--delta-cm));
    padding-bottom: calc(2.5 * var(--delta-cm));
}
